.lexicon-save{
    padding: 5px 15px;
    margin: 15px 5px;
    border: none;
    color: #fff;
    background-color: rgb(3, 161, 82);
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.lexicon-save:hover{
    background-color: rgb(1, 112, 75);
    cursor: pointer;
}
.calculator-analize{
    padding: 5px 15px;
    margin: 15px 5px;
    border: none;
    color: #fff;
    background-color: rgb(59, 59, 59);
   
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.calculator-analize:hover{
    background-color: rgb(24, 24, 24);
    cursor: pointer;
}
.delete-word{
    background-color: red;
    color:#fff;
    border:none;
    padding: 5px;
    margin-left: 3px;
}
.removing{
    opacity: 0;
    background-color: red;
    transition: all 0.3s ease-out;
}