.calculator{
    &__results{
        border-top: 2px solid black;
    }
    &__textarea{
        width: 100%;
        overflow-y: auto;
        height: 100px;
    }
    &__loading{
       
        max-width: 100px;
        margin: 0 auto;
        img{
            width:100%;
        }
    }
    &__analize{

        &__stats{
            font-size: 1.1rem;
        }
        &__overal{
            font-size: 1.3rem;
            font-weight: 700;
        }
    }

}
#calculator-message{
    color: red;
    margin:2px;
}
.positive{
    color: green;
    font-weight: 700;
    font-size: 1.1rem;
}
.negative{
    color: red;
    font-weight: 700;
    font-size: 1.1rem;
}
.neutral{
    color: black;
    font-weight: 700;
    font-size: 1.1rem;
}
.overal{
        font-weight: 700;
        font-size: 1.5rem;
}