$bodyColor: rgb(44, 40, 40);
$navigation: rgb(231, 100, 100);
$navigationList: rgb(231, 100, 100);
$navigationItem: rgb(231, 100, 100);
$navigationItemColor: #fff;
$navigationItemHover: rgb(245, 37, 37);
$lexiconBackground: rgb(167, 167, 167);

.test-picket{
    background-color: rgb(245, 37, 37);
}