.lexicon{
    &__results{
        border: 1px solid green;
        height: 400px;
        background-color: $lexiconBackground;
        overflow-y: auto;
    }
    &__title{
        text-align: center;
        margin: 0px auto;
    }
    input{
        padding:5px;
    }
}
#saving-feedback{
    color: rgb(3, 204, 103);
    font-weight: 700;
    font-size: 1.2rem;
}
.lexcon-input{
    background-color: white;
}
.lexcon-input-positive{
    background-color: rgb(0, 243, 81);
}
.lexcon-input-negative{
    background-color: rgb(236, 70, 70);
}