.lexicon{
    &__results{
        border: 1px solid green;
        height: 400px;
        background-color: $lexiconBackground;
        overflow-y: auto;
    }
    &__title{
        text-align: center;
        margin: 0px auto;
    }
    input{
        padding:5px;
        max-width: 35%;
    }
}
#saving-feedback{
    color: rgb(3, 204, 103);
    font-weight: 700;
    font-size: 1.2rem;
}
.lexcon-input{
    background-color: white;
}
.lexcon-input-positive{
    background-color: rgb(0, 243, 81);
}
.lexcon-input-negative{
    background-color: rgb(236, 70, 70);
}
#new-word,
#new-value{
    max-width:100px;
}
@media(max-width: 600px){
    .lexicon{
        &__results{
            border: 1px solid green;
            height: 400px;
            background-color: $lexiconBackground;
            overflow-y: auto;
        }
        &__title{
            text-align: center;
            margin: 0px auto;
        }
        input{
            max-width: 35%-;
            padding:5px;
        }
    }
    .lexcon-input{
        background-color: white;
        max-width: 100px;
    }
    .lexcon-input-positive{
        background-color: rgb(0, 243, 81);
        max-width: 100px;
    }
    .lexcon-input-negative{
        background-color: rgb(236, 70, 70);
        max-width: 100px;
        color:#fff;
    }
}