.padding-all10px{
    padding: 10px;
}
.padding-left10px{
    padding-left: 10px;
}
.padding-right10px{
    padding-right: 10px;
}
.padding-top10px{
    padding-top: 10px;
}
.padding-bottom10px{
    padding-bottom: 10px;
}